{{- if .Values.observability.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "docutag.fullname" . }}-grafana-datasources
  labels:
    {{- include "docutag.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://{{ include "docutag.componentFullname" (dict "component" "prometheus" "context" .) }}:9090
        isDefault: true
        editable: false

      - name: Loki
        type: loki
        access: proxy
        url: http://{{ include "docutag.componentFullname" (dict "component" "loki" "context" .) }}:3100
        editable: false

      - name: Tempo
        type: tempo
        access: proxy
        url: http://{{ include "docutag.componentFullname" (dict "component" "tempo" "context" .) }}:3200
        editable: false
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
            spanStartTimeShift: '-1h'
            spanEndTimeShift: '1h'
            filterByTraceID: true
            filterBySpanID: false
          tracesToMetrics:
            datasourceUid: prometheus
          serviceMap:
            datasourceUid: prometheus
{{- end }}
