{{- if .Values.observability.enabled }}
{{- $secretName := printf "%s-grafana" (include "docutag.fullname" .) }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $password := "" }}
{{- if $secret }}
  {{- $password = index $secret.data "admin-password" }}
{{- else if .Values.observability.grafana.adminPassword }}
  {{- $password = .Values.observability.grafana.adminPassword | b64enc }}
{{- else }}
  {{- $password = randAlphaNum 32 | b64enc }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "docutag.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
type: Opaque
data:
  admin-password: {{ $password | quote }}
{{- end }}
