{{- if .Values.postgresql.enabled }}
{{- $secretName := printf "%s-postgresql" (include "docutag.fullname" .) }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $password := "" }}
{{- if $secret }}
  {{- $password = index $secret.data "password" }}
{{- else if .Values.postgresql.auth.password }}
  {{- $password = .Values.postgresql.auth.password | b64enc }}
{{- else }}
  {{- $password = randAlphaNum 32 | b64enc }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "docutag.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
type: Opaque
data:
  password: {{ $password | quote }}
{{- end }}
