{{- if .Values.postgresql.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "docutag.fullname" . }}-postgresql
  labels:
    {{- include "docutag.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
type: Opaque
data:
  password: {{ .Values.postgresql.password | default "changeme" | b64enc | quote }}
{{- end }}
